@model IEnumerable<Doctor>
@{
    ViewBag.Title = "Home Page";
    Layout = "_Layout";
}

 <!-- doctor section -->

<section class="doctor_section layout_padding" style="background-color:white">
    <div class="container">
        <div class="heading_container heading_center">
            <h2 style="color:black">
                Our Doctors
            </h2>
         
        </div>
      
            @foreach (var docs in Model)
            {
                var photopath = "~/images/" + docs.PhotoPath;
                <div class="container m-5">
                    <div class="row shadow-sm" style="border-radius: 10px;" >
                        <!-- First Column -->
                        <div class="col-sm-10">
                          
                            <!-- First Inner Div -->
                            <div class="row p-1">
                                <div class="col-sm-2">
                                    <a href="@Url.Action("DoctorProfile", new { id = docs.DoctorId })">
                                        <img src="@photopath" asp-append-version="true" alt="" style="width: 100%; max-width: 120px; object-fit: cover; border-radius: 50%;" />
                                    </a>
                                </div>

                                <!-- Second Inner Div -->
                                <div class="col-sm-10">
                                    <span>
                                        <a class="text-dark" href="@Url.Action("DoctorProfile", new { id = docs.DoctorId })">@docs.FirstName @docs.LastName</a>
                                    </span>

                                    <span style="display: block;">@docs.Speciality.SpecialityName</span>
                                <span style="display: block;">MBBS, FCPS (Cardiology)</span>
                                   
                                    <div class="row">
                                        <div class="col-sm-3">Reviews
                                            <strong style="display:block;color:#EC8A23">
                                                <i class="fa-solid fa-thumbs-up"></i>
                                                463</strong>
                                        </div>
                                        <div class="col-sm-3">Experience
                                            <strong style="display:block;">12 years</strong>
                                        </div>
                                        <div class="col-sm-3">Satisfication
                                            <strong style="display:block;">98%</strong>
                                        </div>
                                    </div>
                                </div>
                               
                            </div>
                            <div class="col-sm-10">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="card">
                                            <!-- Content for the second box -->
                                            <strong class="pt-2 pl-3">Video Consultation</strong>
                                            <bold class="pt-2 pl-3">Available Today</bold>
                                            <p class="pt-2 pl-3">Rs. 2,000</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="card">
                                            <!-- Content for the second box -->
                                            <strong class="pt-2 pl-3">Video Consultation</strong>
                                            <bold class="pt-2 pl-3">Available Today</bold>
                                            <p class="pt-2 pl-3">Rs. 2,000</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br/>
                        </div>

                        <!-- Second Column -->
                        <div class="col-sm-2">
                            <div class="ml-auto p-1">
                                <button type="button" class="btn btn-success" style="background-color: #3C8066; width: 100%;">Video Call</button>
                            </div>
                            <div class="ml-auto p-1">
                                <button type="button" class="btn btn-info" style="background-color: #234d71; width: 100%;">View Timings</button>
                            </div>
                        </div>
                    </div>

                    <!-- Third Column -->
                    
                </div>

            }





            <br />
    

    </div>
</section>

<!-- end doctor section -->
