@model IEnumerable<Doctor>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center">
               
                <div class="text-center mx-auto">
                    <h4>Scheduled List</h4>
                </div>
            </div>
            @foreach (var doc in Model)
            {
                <td >
                    <div class="float-end" style="margin-left: 20px;">
                        <a asp-controller="Scheduling" asp-action="AddSchedule" asp-route-id="@doc.DoctorId" class="btn btn-primary">Add Schedule</a>
                    </div>
                </td>
                <br/>
                @foreach (var hospital in doc.schedules.GroupBy(x => x.Hospitals).Select(g => new { g.Key.HospitalName, g.Key.HospitalID }).ToList())
                {
                    <table class="table">
                        <thead>
                           
                            <tr>
                                <th>Hospital</th>

                                <th>Day</th>
                                <th>Time Range</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var timeslotDays in doc.schedules.Where(x => x.HospitalId == hospital.HospitalID).ToList())
                            {
                                <tr>
                                    @foreach (var timeslot in doc.schedules.Where(x => x.HospitalId == hospital.HospitalID && x.DayOfWeek == timeslotDays.DayOfWeek).ToList())
                                    {
                                        <td>@hospital.HospitalName</td>
                                        <td>@timeslotDays.DayOfWeek.ToString()</td>
                                        <td>@(DateTime.Today.Add(@timeslot.StartTime).ToString("hh:mm tt")) - @(DateTime.Today.Add(@timeslot.EndTime).ToString("hh:mm tt"))</td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                }
            }

@* @foreach(var doc in Model)
{

    <td>
        <div class="float-end">
                        <a asp-controller="Scheduling" asp-action="AddSchedule" asp-route-id="@doc.DoctorId" class="btn btn-primary">Add Schedule</a>
        </div>
    </td>
            @foreach (var hospital in doc.schedules.GroupBy(x => x.Hospitals).Select(g => new { g.Key.HospitalName, g.Key.HospitalID }).ToList())
            {
    <table class="table">
        <thead >
                           
            <tr>
               
                        <td><span class="bg-dark text-light p-2">@hospital.HospitalName</span></td>
                      

            </tr>            
        </thead>
        <tbody>
            @foreach (var timeslotDays in doc.schedules.Where(x => x.HospitalId == hospital.HospitalID).ToList())


            {
            <tr>
                            @foreach (var timeslot in doc.schedules.Where(x => x.HospitalId == hospital.HospitalID && x.DayOfWeek == timeslotDays.DayOfWeek).ToList())
                        {                             
                            <td>@timeslotDays.DayOfWeek.ToString() </td>
                            <td>@(DateTime.Today.Add(@timeslot.StartTime).ToString("hh:mm tt")) - @(DateTime.Today.Add(@timeslot.EndTime).ToString("hh:mm tt"))</td>
                        }
            </tr>
            }
        </tbody>
    </table>
  }
} *@
</div>
</div>
</div>