@model IEnumerable<Doctor>

@foreach(var doc in Model)
{
    <div class="container d-flex flex-row justify-content-between">
        <div class="btn btn-warning">@doc.FirstName @doc.LastName</div>
        <div><a asp-controller="Scheduling" asp-action="AddSchedule" asp-route-id="@doc.DoctorId" class="btn btn-warning">Add Schedule</a></div>
    </div>
            @foreach (var hospital in doc.schedules.GroupBy(x => x.Hospitals).Select(g => new { g.Key.HospitalName, g.Key.HospitalID }).ToList())
            {
    <table class="table table-primary">
        <thead >
            <tr>               
                      <td><span class="bg-dark text-light p-2">@hospital.HospitalName</span></td>
                        <td>
                            <div class="float-end">
                                
                            </div>
                        </td>

            </tr>            
        </thead>
        <tbody>
            @foreach (var timeslotDays in doc.schedules.Where(x => x.HospitalId == hospital.HospitalID).ToList())


            {
            <tr>
                            @foreach (var timeslot in doc.schedules.Where(x => x.HospitalId == hospital.HospitalID && x.DayOfWeek == timeslotDays.DayOfWeek).ToList())
                        {                             
                            <td>@timeslotDays.DayOfWeek.ToString() </td>
                            <td>@(DateTime.Today.Add(@timeslot.StartTime).ToString("hh:mm tt")) - @(DateTime.Today.Add(@timeslot.EndTime).ToString("hh:mm tt"))</td>
                        }
            </tr>
            }
        </tbody>
    </table>
}
}