@model IEnumerable<Doctor>
@{
    ViewBag.Title = "Doctors";
    Layout = "_AdminDashboard";
}


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center">
               <div>
                  <a href="@Url.Action("Create","Doctor")" class="btn btn-primary">
                    <i class="fa-solid fa-plus" style="color:white;"></i>
                   </a>
                    
               </div>
               <div class="text-center mx-auto">
                    <h4>Doctors List</h4>
               </div>
               <div class="card-header-form">
                 <form>
                   <div class="input-group">
                     <input type="text" class="form-control" placeholder="Search">
                      <div class="input-group-btn">
                         <button class="btn btn-primary"><i class="fas fa-search"></i></button>
                      </div>
                   </div>
                 </form>
               </div>
             </div>
            <div class="card-body p-0">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <tr>
                            <th style="width:250px;">First Name</th>
                            <th style="width:250px;">Last Name</th>
                            <th style="width:250px;">Image</th>
                            <th style="width:250px;">Specialization</th>
                            <th style="width:250px;">City</th>
                            <th style="width:250px;">Hospital</th>
                            <th style="width:250px;">Gender</th>
                            <th style="width:250px;">Action</th>
                        </tr>
                         @foreach(var docs in Model)
                         {
                            var photopath = "~/images/" + docs.PhotoPath;
                        <tr>
                                <td>@docs.FirstName</td>
                                <td>@docs.LastName</td>
                                <td><img alt="Doctor Image" src="@photopath" asp-append-version="true" style="width:50px; height:50px"></td>
                                <td>@docs.Speciality.SpecialityName</td>
                                <td>@docs.City</td>
                                <td>
                                    @foreach (var hospitalprofile in docs.DoctorHospitalProfiles)
                                    {
                                        <div>
                                            @if (hospitalprofile != null && hospitalprofile.HospitalProfile != null)
                                            {
                                                @hospitalprofile.HospitalProfile.HospitalName
                                            }
                                            else
                                            {
                                                <span>No Hospital Profile</span>
                                            }
                                        </div>
                                    }
                                </td>
                                <td>@docs.Gender</td>
                                <td>
                                    <a asp-controller="Doctor" asp-action="Edit" asp-route-id="@docs.DoctorId" class="btn btn-sm btn-success">
                                    <i class="fa-solid fa-edit" style="color:white;"></i>
                                </a>

                                    <a asp-controller="Doctor" asp-action="Details" asp-route-id="@docs.DoctorId" class="btn btn-sm btn-info">
                                        <i class="fas fa-info-circle" style="color:white"></i>
                                </a>
                                    <a asp-controller="Doctor" asp-action="Delete" asp-route-id="@docs.DoctorId" class="btn btn-sm btn-danger">
                                        <i class="fa-solid fa-trash" style="color:white"></i>
                                    </a>
                                </td>
                        </tr>
                    }
                    </table>
                </div>
            </div>
            <div class="card-body">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>