@model IEnumerable<Specialities>;
@{
    ViewBag.Title = "Index";
    Layout = "_AdminDashboard";
}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center">
                <div>
                    <a href="@Url.Action("CreateSpeciality","Speciality")" class="btn btn-primary">
                        <i class="fa-solid fa-plus" style="color:white;"></i>
                    </a>

                </div>
                <div class="text-center mx-auto">
                    <h4>Specialties List</h4>
                </div>
               @*  <div class="card-header-form">
                    <form>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search">
                            <div class="input-group-btn">
                                <button class="btn btn-primary"><i class="fas fa-search"></i></button>
                            </div>
                        </div>
                    </form>
                </div> *@
            </div>
            <div class="card-body p-0">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <tr>
                            <th>Name</th>
                            <th>Diseases</th>
                            <th>Numbers of Doctors</th>
                            <th>Action</th>
                        </tr>
                        @foreach (var specialities in Model)
                        {
                        <tr>
                                <td>@specialities.SpecialityName.ToUpper()</td>
                                <td>
                                    @foreach (var specialtydisease in specialities.SpecialtyDiseases)
                                    {
                                        <div>
                                            @if (specialtydisease != null && specialtydisease.Disease != null)
                                            {
                                                @specialtydisease.Disease.DiseaseName
                                            }
                                            else
                                            {
                                                <span>No Diseases</span>
                                            }
                                        </div>
                                    }
                                </td>
                                <td class="align-middle">@specialities.doctors.Count()</td>
                                <td>
                                    <a asp-controller="Speciality" asp-action="EditSpeciality" asp-route-id="@specialities.Id" class="btn btn-sm btn-success">
                                    <i class="fa-solid fa-edit" style="color:white;"></i>
                                </a>

                                    <a asp-controller="Speciality" asp-action="SpecialityDetails" asp-route-id="@specialities.Id" class="btn btn-sm btn-info">
                                        <i class="fas fa-info-circle" style="color:white"></i>
                                </a>
                                    <a asp-controller="Speciality" asp-action="DeleteSpeciality" asp-route-id="@specialities.Id" class="btn btn-sm btn-danger">
                                        <i class="fa-solid fa-trash" style="color:white"></i>
                                    </a>
                                </td>
                        </tr>
                    }
                    </table>
                </div>
            </div>
     
        </div>
    </div>
</div>


