@model Specialities
@{
    ViewBag.Title = "Speciality Details";
}
<div class="card" >
    <div class="card-body">
        <h5 class="card-title">@Model.SpecialityName</h5>
        <h6 class="card-subtitle mb-2 text-muted">Number of Doctors : @Model.doctors.Count()</h6>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Doctor Id</th>
                    <th scope="col">Doctor Name</th>
                    <th scope="col">City</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var doc in Model.doctors)
                {
                    <tr>
                        <td scope="col">@doc.DoctorId</td>
                        <td scope="col">@doc.FirstName</td>
                        <td scope="col">@doc.City</td>
                    </tr>
                }
                
            </tbody>
        </table>
    </div>
</div>