@using SehatDoc.Models;
@model HospitalProfile
@{
    ViewBag.Title = "Hospita lProfile Detail";
    var photo = "~/images/" + (Model.HospitalLogo);
    Layout = "_AdminDashboard";
}
<div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
        <img src="@photo" width="70px" asp-append-version="true" height="70px" />
        <div class="btn-group">
            <button type="button" class="btn btn-danger">Video Consultation</button>
            <button type="button" class="btn btn-primary ml-2">Book Appointment</button>
        </div>
    </div>
    <div class="card-body">
        <blockquote class="blockquote mb-0">
            <b>@Model.HospitalName </b>
            <h6>Departments:</h6>
            @if (Model.DepartmentHospitalProfiles != null && Model.DepartmentHospitalProfiles.Any())
            {
                <ul>
                    @foreach (var department in Model.DepartmentHospitalProfiles)
                    {
                        <li>@department.DepartmentsDepartment.DepartmentName</li>
                    }
                </ul>
            }
            else
            {
                <p>No departments available for this hospital.</p>
            }
            <h6>Doctors:</h6>
            @if (Model.DoctorHospitalProfiles != null && Model.DoctorHospitalProfiles.Any())
            {
                <ul>
                    @foreach (var doctorHospitalProfile in Model.DoctorHospitalProfiles)
                    {
                        <li>@doctorHospitalProfile.Doctor.FirstName</li>
                    }
                </ul>
            }
            else
            {
                <p>No doctor available for this hospital.</p>
            }
            <h6>Address:</h6><p style="font-size:15px;">@Model.HospitalLocation</p>
            <footer class="blockquote-footer">Contact No : @Model.HospitalNumber @* <cite title="Source Title">Address : @Model.HospitalLocation</cite> *@</footer>
        </blockquote>
    </div>
</div>