@model HospitalProfile

@{
    ViewBag.Title = "Hospital Profile";
    Layout = "_Layout";
}
<!-- Doctor profile section -->
<section class="doctor-profile-section layout_padding" style="background-color: white;">
    <div class="container">
        <div class="card shadow-sm" style="border-radius: 10px;border: none;">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-2">
                        <!-- Doctor image -->
                        <img src="~/images/@Model.HospitalLogo" alt="@Model.HospitalName" class="img-fluid rounded-circle" style="width: 100%; max-width: 150px; max-height: 150px; object-fit: cover;" />
                    </div>
                 
                        <div class="col-md-8 mt-6">
                            <!-- Use Bootstrap's padding class to add left padding on medium-sized screens and larger -->
                            <h1 style="font-weight:700;line-height:1.3;font-size:20px;color:black;display:block">@Model.HospitalName</h1>
                        <span style="margin-top:0;margin-bottom:1rem;font-size:14px;display:block;color:black;">
                            @Model.HospitalLocation</span>
                        <div class="row">
                            <div class="col-md-3 col-6">
                                <button style="background-color:#4CA585;color:white;border-radius:4px;border-color:#4CA585;display:block;border:none;width:230px;height:2.3rem;">
                                    Call Helpline
                                </button>
                            </div>
                            <div class="col-md-1"></div>
                            <div class="col-md-3 col-6">
                                <button style="background-color:#234D71;color:white;border-radius:4px;border-color:#4CA585;display:block;border:none;width:230px;height:2.3rem;">
                                    View Directions
                                </button>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
       
     
        <h2 style="font-weight:600;color:black;line-height:1.25; font-size:18px;padding-top:1.5rem;font-family: 'Poppins', sans-serif !important;margin-bottom: 2rem">Specialists in @Model.HospitalName</h2>
        <div class="row">
              @foreach (var hospitalProfile in Model.DepartmentHospitalProfiles)
                {
                <div class="col-md-6 pt-4" style="color:#004D71;font-weight:500">@hospitalProfile.DepartmentsDepartment.DepartmentName</div>
          
                }
                
               

                
        </div>
        <!---->
     @*    <h5 class="card-title">Branches</h5>
        @if (Model.Branches != null && Model.Branches.Any())
        {
            <div class="row">
                @foreach (var hospitalprofile in Model.Branches)
                {
                    <div class="col-md-@{
                        if(Model.Branches.Count == 1) {
                @Html.Raw("12")
; } else {
                @Html.Raw("6")
; }
}">
                        <div class="card mb-3">
                            <div class="card-body">
                                @if (hospitalprofile != null && hospitalprofile.BranchID != null)
                                {
                                    <strong>@hospitalprofile.BranchName</strong>
                                    <p>@hospitalprofile.State.StateName</p>
                                  @*   <p>@hospitalprofile.City.CityName</p> *@
                                    @* <p>Location: @hospitalprofile.Location</p>

                                    <button class="btn btn-danger">
                                        <i class="fa fa-phone" style="color: white;"></i> @hospitalprofile.Contact1
                                    </button>
                                    <button class="btn btn-danger">
                                        <i class="fa fa-phone" style="color: white;"></i> @hospitalprofile.Contact2
                                    </button>
                                }
                                else
                                {
                                    <span>No Branches</span>
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
        else
        {
            <span>No Branch</span>
        }
        *@ 
       
       @if (Model.DoctorHospitalProfiles != null && Model.DoctorHospitalProfiles.Any())
        {
            <h2 style="padding-top:1.5rem;font-size:18px;line-height:2.25;font-weight:600;display:block;font-family: 'Poppins', sans-serif !important;letter-spacing: .03em;">Doctors in @Model.HospitalName</h2>
            <div class="row">
                @foreach (var doctorProfile in Model.DoctorHospitalProfiles)
                {
                    <div class="col-md-12">
                        <div class="card shadow-sm mb-3">
                            <div class="card-body">
                             <div class="row">
                                    <div class="col-sm-9">
                                <div style="display: flex; align-items: flex-start;">
                                    <a href="@Url.Action("DoctorProfile","Doctor", new { id = doctorProfile.DoctorID })">
                                    <img src="~/images/@doctorProfile.Doctor.PhotoPath" alt="@doctorProfile.Doctor.FirstName @doctorProfile.Doctor.LastName" class="img-fluid rounded-circle" style="max-width: 100px; max-height: 100px; object-fit: cover; margin-right: 10px;" />
                                  </a>
                                    <div>
                                                <a href="@Url.Action("DoctorProfile","Doctor", new { id = doctorProfile.DoctorID })">
                                                    <strong style="color:#004D71">@doctorProfile.Doctor.FirstName @doctorProfile.Doctor.LastName</strong>
                                        </a>
                                        <p>@doctorProfile?.Doctor?.Speciality?.SpecialityName</p>
                                        <p>MBBS, FCPS (Oto Rhino Laryngology)</p>
                                    </div>
                                  
                                </div>
                                        <div class="row">
                                            <div class="col-2"></div>
                                            <div class="col-3">
                                                Reviews
                                                <strong style="display:block;color:#EC8A23">
                                                    <i class="fa-solid fa-thumbs-up"></i>
                                                    463
                                                </strong>
                                            </div>
                                            <div class="col-3">
                                                Experience
                                                <strong style="display:block;">12 years</strong>
                                            </div>
                                            <div class="col-3">
                                                Satisfication
                                                <strong style="display:block;">98%</strong>
                                            </div>
                                        </div>
                                        <div class="row">
                                        
                                            <div class="col-1"></div>
                                            <div class="col-sm-5  mt-2">
                                                <div class="card">
                                                    <!-- Content for the second box -->
                                                    <strong class="pt-2 pl-3">Video Consultation</strong>
                                                    <bold class="pt-2 pl-3">Available Today</bold>
                                                    <p class="pt-2 pl-3">Rs. 2,000</p>
                                                </div>
                                            </div>
                                            <div class="col-sm-5 mt-2">
                                                <div class="card">
                                                    <!-- Content for the second box -->
                                                    <strong class="pt-2 pl-3">Video Consultation</strong>
                                                    <bold class="pt-2 pl-3">Available Today</bold>
                                                    <p class="pt-2 pl-3">Rs. 2,000</p>
                                                </div>
                                            </div>
                                           
                                         @*    <div class="col-3" style=" background-color:green">red</div> *@
                                            </div>
                             </div>
                                    <div class="col-sm-3">
                                        <div class="ml-auto p-1">
                                            <button type="button" class="btn btn-success" style="background-color: #3C8066; width: 100%;">Video Call</button>
                                        </div>
                                        <div class="ml-auto p-1">
                                            <button type="button" class="btn btn-info" style="background-color: #234d71; width: 100%;">View Timings</button>
                                        </div>
                                    </div>  
                            </div>
                            
                            </div>
                        </div>
                    </div>
                }
            </div>
            }
   
    </div>

</section>



