@using SehatDoc.Models;
@model IEnumerable<HospitalProfile>
@{
    ViewBag.Title = "HospitalProfile";
    Layout = "_AdminDashboard";
}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center">
                <div>
                    <a href="@Url.Action("Create","HospitalProfile")" class="btn btn-primary">
                        <i class="fa-solid fa-plus" style="color:white;"></i>
                    </a>

                </div>
                <div class="text-center mx-auto">
                    <h4>Hospitals Profile List</h4>
                </div>
              
            </div>
            <div class="card-body p-0">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <tr>
                            <th></th>
                            <th style="width:40px;"></th>
                            <th style="width:250px;">Name</th>
                            <th style="width:250px;">Number</th>
                            <th style="width:250px;">Departments</th>
                            <th style="width:250px;">State</th>
                            <th style="width:250px;">City</th>
                            <th style="width:250px;">Branch</th>
                            <th style="width:320px;">Action</th>
                        </tr>
                        @foreach (var hospital in Model)
                        {
                            var photopath = "~/images/" + hospital.HospitalLogo;
                            <tr>
                                
                                <td>

                                    <button type="button" class="btn detail-button" data-hospital-id="@hospital.HospitalID" style="margin-left:-8px;">

                                        <i class="fas fa-chevron-down" style="color:#184e77;"></i>
                                    </button>
                                </td>
                                <td><img alt="HospitalLogo" src="@photopath" asp-append-version="true" style="width: 55px; height: 55px; border-radius: 50%; object-fit: cover;"></td>
                                <td>@hospital.HospitalName</td>
                                <td>@hospital.HospitalNumber</td>
                                <td>
                                    <span style="cursor: pointer; text-decoration:none;" onclick="showDepartmentModal('@hospital.HospitalID', [
                                      @foreach (var departmentProfile in hospital.DepartmentHospitalProfiles)
                                     {
                                       @if (departmentProfile != null && departmentProfile.DepartmentsDepartment != null)
                                      {
                                         @("\"" + departmentProfile.DepartmentsDepartment.DepartmentName.Replace("\"", "\\\"") + "\",")
                                      }
                                      else
                                      {
                                          @("\"No Departments\",")
                                      }
                                     }
                                       ])">
                                        Show Departments
                                    </span>
                                </td>
                         
                                <td>@hospital.State.StateName</td>
                                <td>@hospital.City.CityName</td>
                              
                               <td>
                                <button type="button" class="btn btn-primary" onclick="loadBranchForm(@hospital.HospitalID)">Add Branch</button></td>
                                <td>
                                    <a asp-controller="HospitalProfile" asp-action="Edit" asp-route-id="@hospital.HospitalID" class="btn btn-sm btn-success">
                                        <i class="fa-solid fa-edit" style="color:white"></i>
                                    </a>
                                  

                                    <a asp-controller="HospitalProfile" asp-action="Details" asp-route-id="@hospital.HospitalID" class="btn btn-sm btn-info">
                                        <i class="fas fa-info-circle" style="color:white"></i>
                                    </a>
                                    <a asp-controller="HospitalProfile" asp-action="Delete" asp-route-id="@hospital.HospitalID" class="btn btn-sm btn-danger">
                                        <i class="fa-solid fa-trash" style="color:white"></i>
                                    </a>
                                </td>

                 
                            </tr>
                            <tr style="display: none;">

                                <td colspan="11">

                                    <div class="branches"></div>
                                </td>

                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="departmentModal" tabindex="-1" role="dialog" aria-labelledby="departmentModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="departmentModalLabel">Departments</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="departmentModalBody">
                <!-- Hospitals will be displayed here -->
            </div>
        </div>
    </div>
</div>
<!-- Modal container -->
<div class="modal fade" id="addBranchModal" tabindex="-1" role="dialog" aria-labelledby="addBranchModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addBranchModalLabel">Add Branch</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="branchFormContainer"></div>
        </div>
    </div>
</div>
<!-- Bootstrap modal for the edit form -->
<div class="modal fade" id="editBranchModal" tabindex="-1" role="dialog" aria-labelledby="editBranchModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addBranchModalLabel">Edit Branch</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="editBranchModalContainer"></div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        function openEditBranchModal(branchId) {
            // Make an AJAX request to fetch the edit form partial view
            $.get('/Branch/EditBranch', { id: branchId }, function (data) {
                // Load the fetched partial view into the modal content container
                $('#editBranchModalContainer').html(data);
                // Show the Bootstrap modal
                $('#editBranchModal').modal('show');
            });
        }
    </script>


    <script>
        $(document).ready(function () {
            $('body').on('click', '.detail-button', function () {
                var button = $(this);
                var hospitalId = button.data('hospital-id');
                var orderDetailsContainer = button.closest('tr').next().find('.branches');
                var icon = button.find('i');

                if (orderDetailsContainer.children().length === 0) {
                    $.ajax({
                        url: "/Branch/BranchDetail",
                        type: "GET",
                        data: { hospitalID: hospitalId },
                        success: function (result) {
                            orderDetailsContainer.html(result);
                            orderDetailsContainer.closest('tr').show();
                            icon.removeClass('fa-chevron-down').addClass('fa-chevron-up');
                        },
                        error: function (xhr, status, error) {
                            console.error(xhr.responseText);
                        }
                    });
                } else {
                    orderDetailsContainer.closest('tr').toggle();
                    if (icon.hasClass('fa-chevron-down')) {
                        icon.removeClass('fa-chevron-down').addClass('fa-chevron-up');
                    } else {
                        icon.removeClass('fa-chevron-up').addClass('fa-chevron-down');
                    }
                }
            });
        });
    </script>
    <script>
        function loadBranchForm(hospitalId) {
            // Make an AJAX request to fetch the partial view
            $.get('/Branch/AddBranch', { hospitalId: hospitalId }, function (data) {
                // Load the fetched partial view into the modal body
                $('#branchFormContainer').html(data);
                // Show the modal
                $('#addBranchModal').modal('show');
            });
        }
    </script>
    <script>
        function showDepartmentModal(HospitalID, hospitals) {
            // Display hospitals in the modal body
            var modalBody = document.getElementById("departmentModalBody");
            modalBody.innerHTML = "";

            if (hospitals && hospitals.length > 0) {
                // Create a table dynamically
                var table = document.createElement("table");
                table.className = "table";
                var tbody = document.createElement("tbody");

                hospitals.forEach(function (hospital) {
                    var row = document.createElement("tr");
                    var cell = document.createElement("td");
                    cell.textContent = hospital;
                    row.appendChild(cell);
                    tbody.appendChild(row);
                });

                table.appendChild(tbody);
                modalBody.appendChild(table);
            } else {
                modalBody.innerHTML = '<span>No Departments</span>';
            }

            // Show the modal
            $('#departmentModal').modal('show');
        }
    </script>
}
