@using SehatDoc.Models;
@model IEnumerable<HospitalProfile>
@{
    ViewBag.Title = "HospitalProfile";
    Layout = "_AdminDashboard";
}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4>Hospitals Profile List</h4>
                <div class="card-header-form">
                    <form>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search">
                            <div class="input-group-btn">
                                <button class="btn btn-primary"><i class="fas fa-search"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="card-body p-0">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <tr>
                            <th style="width:50px;">Hospital Name</th>
                            <th style="width:190px;">Hospital Location</th>
                            <th style="width:190px;">Hospital Number</th>
                            <th style="width:90px;">Image</th>
                            <th style ="width:90px;">Departments</th>
                            <th style ="width:90px;">Doctors</th>
                            <th style="width:90px;">Action</th>
                        </tr>
                        @foreach (var hospital in Model)
                        {
                            var photopath = "~/images/" + hospital.HospitalLogo;
                            <tr>
                                <td>@hospital.HospitalName</td>
                                <td>@hospital.HospitalLocation</td>
                                <td>@hospital.HospitalNumber</td>
                                <td><img alt="HospitalLogo" src="@photopath" asp-append-version="true" style="width:50px; height:50px"></td>
                                <td>
                                    @foreach (var departmentProfile in hospital.DepartmentHospitalProfiles)
                                    {
                                        <div>
                                            @if (departmentProfile != null && departmentProfile.DepartmentsDepartment != null)
                                            {
                                                @departmentProfile.DepartmentsDepartment.DepartmentName
                                            }
                                            else
                                            {
                                                <span>No Department</span>
                                            }
                                        </div>
                                    }
                                </td>
                                <td>
                                   
                                    @foreach (var doctorProfile in hospital.DoctorHospitalProfiles)
                                    {
                                        <div>
                                            @if (doctorProfile != null && doctorProfile.Doctor != null)
                                            {
                                                @doctorProfile.Doctor.FirstName @doctorProfile.Doctor.LastName
                                            }
                                            else
                                            {
                                                <span>No Doctor</span>
                                            }
                                        </div>
                                    }
                                </td>
                                <td>
                                    <a asp-controller="HospitalProfile" asp-action="Edit" asp-route-id="@hospital.HospitalID" class="btn btn-sm btn-success">
                                        <i class="fa-solid fa-edit" style="color:white;"></i>
                                    </a>

                                    <a asp-controller="HospitalProfile" asp-action="Details" asp-route-id="@hospital.HospitalID" class="btn btn-sm btn-info">
                                        <i class="fas fa-info-circle" style="color:white"></i>
                                    </a>
                                    <a asp-controller="HospitalProfile" asp-action="Delete" asp-route-id="@hospital.HospitalID" class="btn btn-sm btn-danger">
                                        <i class="fa-solid fa-trash" style="color:white"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
            <div class="card-body">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
