@using SehatDoc.ViewModels
@model IEnumerable<BranchViewModel>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center">
               
                <div class="text-center mx-auto">
                    <h4>Branch List</h4>
                </div>

            </div>
            <div class="card-body p-0">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <tr>
                            <th></th>
                            <th></th>
                            
                            <th style="width:250px;">Name</th>

                           
                            <th style="width:250px;">Contact 1</th>
                            <th style="width:250px;">Contact 2</th>
                            <td style="width:250px;">Location</td>
                            <th style="width:320px;">Action</th>
                        </tr>
                        @foreach (var branch in Model)
                        {
                            
                            <tr>
                               
                               
                              <td></td>
                              <td></td>
                                <td>@branch.BranchName</td>
                                <td>@branch.Contact1</td>
                                <td>@branch.Contact2</td>
                                
                                <td>@branch.Location</td>

                                <td>
                                  
                                    <a href="#" class="btn btn-sm btn-success" onclick="openEditBranchModal(@branch.ID)">
                                        <i class="fa-solid fa-edit" style="color:white;"></i>
                                    </a>
                                   
                                    <a asp-controller="Branch" asp-action="Delete" asp-route-id="@branch.ID" class="btn btn-sm btn-danger">
                                        <i class="fa-solid fa-trash" style="color:white"></i>
                                    </a>
                                </td>
                            </tr>
                          
                       


                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

