@using SehatDoc.Models;
@model IEnumerable<Department>
@{
    ViewBag.Title = "Department";
    
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center">
                <div>
                    <a href="@Url.Action("Create","Department")" class="btn btn-primary">
                        <i class="fa-solid fa-plus" style="color:white;"></i>
                    </a>

                </div>
                <div class="text-center mx-auto">
                    <h4>Departments List</h4>
                </div>
               @*  <div class="card-header-form">
                    <form>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search">
                            <div class="input-group-btn">
                                <button class="btn btn-primary"><i class="fas fa-search"></i></button>
                            </div>
                        </div>
                    </form>
                </div> *@
            </div>
            <div class="card-body p-0">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Action</th>
                        </tr>
                        @foreach (var dep in Model)
                        {
                            <tr>
                                <td>@dep.DepartmentName</td>
                                <td>@dep.DepartmentDescription</td>
                                <td>
                                    <a asp-controller="Department" asp-action="Edit" asp-route-id="@dep.DepartmentID" class="btn btn-sm btn-success">
                                        <i class="fa-solid fa-edit" style="color:white;"></i>
                                    </a>

                                    <a asp-controller="Department" asp-action="Details" asp-route-id="@dep.DepartmentID" class="btn btn-sm btn-info">
                                        <i class="fas fa-info-circle" style="color:white"></i>
                                    </a>
                                    <a asp-controller="Department" asp-action="Delete" asp-route-id="@dep.DepartmentID" class="btn btn-sm btn-danger">
                                        <i class="fa-solid fa-trash" style="color:white"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
 