@using SehatDoc.Models;
@model IEnumerable<Disease>
@{
    ViewBag.Title = "Disease";
    Layout = "~/Views/Shared/_AdminDashboard.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header  d-flex justify-content-between align-items-center">
                <div>
                    <a href="@Url.Action("Create","Disease")" class="btn btn-primary">
                        <i class="fa-solid fa-plus" style="color:white;"></i>
                    </a>

                </div>
                <div class="text-center mx-auto">
                    <h4>Diseases List</h4>
                </div>
            </div>
            <div class="card-body p-0">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <tr>
                            <th></th>
                            <th>Name</th>
                            <th>Symptoms</th>
                            <th>Action</th>
                        </tr>
                        @foreach (var dis in Model)
                        {
                            var photopath = "~/images/" + dis.DiseaseImage;
                            <tr>
                                <td><img alt="Disease Image" src="@photopath" asp-append-version="true" style="width: 55px; height: 55px; border-radius: 50%; object-fit: cover;"></td>
                                <td>@dis.DiseaseName</td>
                                <td>
                                    @foreach (var symptomdiseases in dis.DiseaseSymptoms)
                                    {
                                        <div>
                                            @if (symptomdiseases != null && symptomdiseases.Symptoms != null)
                                            {
                                                @symptomdiseases.Symptoms.SymptomName
                                            }
                                            else
                                            {
                                                <span>No Symptoms</span>
                                            }
                                        </div>
                                    }
                                </td>
                                <td>
                                    <a asp-controller="Disease" asp-action="Edit" asp-route-id="@dis.DiseaseID" class="btn btn-sm btn-success">
                                        <i class="fa-solid fa-edit" style="color:white;"></i>
                                    </a>

                                    <a asp-controller="Disease" asp-action="Details" asp-route-id="@dis.DiseaseID" class="btn btn-sm btn-info">
                                        <i class="fas fa-info-circle" style="color:white"></i>
                                    </a>
                                    <a asp-controller="Disease" asp-action="Delete" asp-route-id="@dis.DiseaseID" class="btn btn-sm btn-danger">
                                        <i class="fa-solid fa-trash" style="color:white"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
          
        </div>
    </div>
</div>