@using SehatDoc.Models;
@model IEnumerable<Symptoms>
@{
    ViewBag.Title = "Symptoms";
    
}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center">
                <div>
                    <a href="@Url.Action("Create","Symptoms")" class="btn btn-primary">
                        <i class="fa-solid fa-plus" style="color:white;"></i>
                    </a>

                </div>
                <div class="text-center mx-auto">
                    <h4>Symptoms List</h4>
                </div>
               @*  <div class="card-header-form">
                    <form>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search">
                            <div class="input-group-btn">
                                <button class="btn btn-primary"><i class="fas fa-search"></i></button>
                            </div>
                        </div>
                    </form>
                </div> *@
            </div>
            <div class="card-body p-0">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Action</th>
                        </tr>
                        @foreach (var symptoms in Model)
                        {
                            var photopath = "~/images/" + symptoms.SymptomImage;
                            <tr>
                                <td><img alt="Symptom Image" src="@photopath" asp-append-version="true" style="width: 55px; height: 55px; border-radius: 50%; object-fit: cover;"></td>
                                <td>@symptoms.SymptomName</td>
                                <td>@symptoms.SymptomDescription</td>
                                <td>
                                    <a asp-controller="Symptoms" asp-action="Edit" asp-route-id="@symptoms.SymptomID" class="btn btn-sm btn-success">
                                        <i class="fa-solid fa-edit" style="color:white;"></i>
                                    </a>


                                    <a asp-controller="Symptoms" asp-action="Details" asp-route-id="@symptoms.SymptomID" class="btn btn-sm btn-info">
                                        <i class="fas fa-info-circle" style="color:white"></i>
                                    </a>
                                    <a asp-controller="Symptoms" asp-action="Delete" asp-route-id="@symptoms.SymptomID" class="btn btn-sm btn-danger">
                                        <i class="fa-solid fa-trash" style="color:white"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>




