@using SehatDoc.Models;
@model IEnumerable<Symptoms>
@{
    ViewBag.Title = "Symptoms";
    Layout = "~/Views/Shared/_AdminDashboard.cshtml";
}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4>Symptoms List</h4>
                <div class="card-header-form">
                    <form>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search">
                            <div class="input-group-btn">
                                <button class="btn btn-primary"><i class="fas fa-search"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="card-body p-0">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <tr>
                            <th>Symptom Name</th>
                            <th>Symptom Image</th>
                            <th>Symptom Description</th>
                            <th>Action</th>
                        </tr>
                        @foreach (var symptoms in Model)
                        {
                            var photopath = "~/images/" + symptoms.SymptomImage;
                            <tr>
                                <td>@symptoms.SymptomName</td>
                                <td><img alt="Symptom Image" src="@photopath" asp-append-version="true" width="50px" height="50px"></td>
                                <td>@symptoms.SymptomDescription</td>
                                <td>
                                    <a asp-controller="Symptoms" asp-action="Edit" asp-route-id="@symptoms.SymptomID" class="btn btn-sm btn-success">
                                        <i class="fa-solid fa-edit" style="color:white;"></i>
                                    </a>


                                    <a asp-controller="Symptoms" asp-action="Details" asp-route-id="@symptoms.SymptomID" class="btn btn-sm btn-info">
                                        <i class="fas fa-info-circle" style="color:white"></i>
                                    </a>
                                    <a asp-controller="Symptoms" asp-action="Delete" asp-route-id="@symptoms.SymptomID" class="btn btn-sm btn-danger">
                                        <i class="fa-solid fa-trash" style="color:white"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
            <div class="card-body">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>


<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Edit</th>
            <th scope="col">Details</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var symptoms in Model)
        {
            var photopath = "~/images/" + symptoms.SymptomImage;
            <tr>
                <td><img src="@photopath" asp-append-version="true" alt="Doctor Image" width="50px" height="50px" /></td>
                <th scope="row">@symptoms.SymptomID</th>
                <td>@symptoms.SymptomName</td>
                <td>@symptoms.SymptomDescription</td>               
                <td><a asp-controller="Symptoms" asp-action="Edit" asp-route-id="@symptoms.SymptomID" class="btn btn-secondary">Edit</a></td>
                <td><a asp-controller="Symptoms" asp-action="Details" asp-route-id="@symptoms.SymptomID" class="btn btn-warning">Details</a></td>
                <td><a asp-controller="Symptoms" asp-action="Delete" asp-route-id="@symptoms.SymptomID" class="btn btn-danger">Delete</a></td>
            </tr>
        }


    </tbody>
</table>

